.logo {
	margin-left: -0.42em;
    margin-top: -0.405em;

    float: left;
}
.footer {
	padding: 2em 0;
	margin-top: 2em;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.habra-author {
	padding-left: 1em;
	background: url("../stuff/bg-user2.gif") no-repeat scroll 0 center transparent;
}

a.label
{
	text-decoration: underline;
}
.label-transparent, .badge-transparent {
	background-color: transparent;
	color: black;
}
a.label-transparent:hover, a.badge-transparent:hover,
a.label-transparent, a.badge-transparent {
	color: #0088CC;
	text-shadow: none;
}